@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rowdies&display=swap');


body {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   /* font-family: 'Rowdies', cursive; */
   overflow-x: hidden;
   overflow-y: hidden;
   background: grey;
}


.full {
   width: 100%;
   height: 100vh;
   background-color: rgb(232, 232, 232);
   display: grid;
   justify-content: center;
   align-items: center;
}



.text:hover {
   color: white;
}

h1 span {
   animation: animate 1s linear;
   -webkit-animation: animate 1s linear infinite;
}


h1 {
   font-size: 35px;
   letter-spacing: 25px;
   font-weight: bold;
   text-align: center;
   margin: auto;
   /* background: red; */
   padding-left: 30px;
}

/* TOMBOL KELUAR */

a{
   text-decoration: none;
}

.tengah {
   margin-bottom: 70px;
}
.keluar {
   width: 100%;
   height: 70px;
   background-color: #079ab4;
   color: white;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius:40px 40px 0px 0px;
   -webkit-border-radius:40px 40px 0px 0px;
   -moz-border-radius:40px 40px 0px 0px;
   -ms-border-radius:40px 40px 0px 0px;
   -o-border-radius:40px 40px 0px 0px;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}

.keluar:hover {
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   -o-border-radius: 0px;
   background-color: #57ccec;
   color: white;
}

@keyframes animate{
   0%, 30%{
      color: #57ccec;
      text-shadow: none;
   }
   30%,60%{
      color: #079ab4;
   }
   60%, 100%{
      
      color: rgb(49, 49, 49);
      /* text-decoration: underline black; */
      
}
}

h1 span:nth-child(1){
   animation-delay: .1s;
}
h1 span:nth-child(2){
   animation-delay: .2s
}
h1 span:nth-child(3){
   animation-delay: .3s
}
h1 span:nth-child(4){
   animation-delay: .4s
}
h1 span:nth-child(5){
   animation-delay: .5s
}
h1 span:nth-child(6){
   animation-delay: .6s
}
h1 span:nth-child(7){
   animation-delay: .7s
}
h1 span:nth-child(8){
   animation-delay: .8s
}
h1 span:nth-child(9){
   animation-delay: .9s
}
h1 span:nth-child(10){
   animation-delay: .10s
}

@media (min-width: 768px) {
   h1 {
   font-size: 50px;
   letter-spacing: 20px
}
}