@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rowdies&display=swap');


body {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   /* font-family: 'Rowdies', cursive; */
   color: #7D7D7D;
   overflow-x: hidden;
   overflow-y: scroll;
}
.overflow-hidden {
   overflow-y: hidden;
}

#app {
   padding-bottom: 200px;

}

.image {
   display: grid;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}

.image img,
.profil img {
   width: 200px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.5);
}

.nama {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
}

.nama h1{
   font-size: 28px;
   margin-bottom: -20px;
   margin-top: 5px;
}

.nama h4 {
   font-size: 15px;
   opacity: .5;
}

.link {
   display: grid;
   justify-content: center;
   align-items: center;
}

.link {
   margin-top: 30px;
   width: 100%;
}
a {
   text-decoration: none;
   color: #7D7D7D;
}


.content {
   width: 80%;
   margin: auto;
   height: 100px;
   background-color: white;
   box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.18);
   border-radius: 20px;
   display: grid;
   text-align: center;
   align-items: center;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   cursor: pointer;
   margin-bottom: 20px;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}

.content:hover {
   background-color: #B8A739;
   color: white;
}

.kuning {
   color: #B8A739;
}

.contact {
   margin: auto;
   display: flex;
   justify-content: space-around;
   width: 200px;
   height: 100px;
   align-items: center;
   /* background-color:red */
}

.contact img:hover {
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -ms-transform: scale(1.2);
   -o-transform: scale(1.2);
}


/* STYLE CERTIFICATE AWAL */


.card-nama {
   margin-top: -30px;
   display: grid;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 200px;
   /* background-color: yellow; */
   /* background-color: red; */
}
.profil {
   display: flex;
   padding: 0px 30px 0px 30px;
   /* background-color: yellow; */
}

.isi-certi  {
   display: grid;
   justify-content: center;
   align-items: center;
   color: #B8A739;
   padding: 50px;
   margin-top: -80px;
   /* background-color:red; */
   text-align: center;
   /* text-decoration: underline rgba(128, 128, 128, 0.161); */
}

.profil-nama img {
   width: 80px;
   height: 80px;
   margin-right: 10px;
   margin-left: -20px ;
   /* background-color: white; */
}

.tengah {
   display: grid;
   align-items: center;
   justify-content: center;

}

.tengah2 {
   margin-bottom: -20px;
}

.tengah h1 {
   font-size:20px
}

.tengah h4 {
   font-size:13px;
   opacity: .5;
}

.tengah h1, .tengah h4 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;

}
.certi img {
   width: 100%;
   /*padding: 20px;
   *//*background-color: white;
   *//*border:;
   1pxsolidred*/box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.18);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   margin: 5px;
}

.kumpulan-certi {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.show-full {
   width: 100%;
   height: 100vh;
   background-color: black;
   position: fixed;
   top: 0;
   z-index: 100;
   opacity: .65;
}




/* STYLE CERTIFICATE AKHIR */

/* ABOUT */

.about-skill {
   display: grid;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 100%;
   height: 200px;
   /* background: yellow; */
   padding-bottom: 1000px;
}

.isi-about {
   padding-left: 20px;
   padding-right: 20px;
   /* background-color: red */
}

.isi-about h1 {
   text-align: center;
   color: #B8A739;
}

.isi-about h2 {
   /* text-align: center; */
   color: rgb(94, 94, 94);
}

.skills {
   padding: .006px 0px .006px 0px;
}

.link-a {
   color: #B8A739;
   text-decoration: underline;
}
.isi-about p {
   color: #484848;
   font-size: 18px;
   line-height: 30px;
}

p.isi-skill {
   margin-top: -15px;
   color: #7D7D7D;
   margin-bottom: 20px;
}

.kosong {
   margin-bottom: 200px;
}
.skill h2 {
   font-size: 19px;
}

.skill p {
   font-size: 15px;
   line-height: 20px;
}

/* AKHIR AABOUT */


/* TOMBOL KELUAR */

.keluar {
   width: 100%;
   height: 70px;
   background-color: #B8A739;
   color: white;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius:40px 40px 0px 0px;
   -webkit-border-radius:40px 40px 0px 0px;
   -moz-border-radius:40px 40px 0px 0px;
   -ms-border-radius:40px 40px 0px 0px;
   -o-border-radius:40px 40px 0px 0px;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}

.keluar:hover {
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -ms-border-radius: 0px;
   -o-border-radius: 0px;
   background-color: #ceb82c;
}


/* ZOOM */
.info-about h2 {
   text-align: center;
}

.info-about p,
.info-about h3 {
   text-align: left;
}

.skills h2 {
   text-align: left;
}

.kiri {
   text-align: left;
}

.info-about {
   z-index: 100;
   margin: auto;
   background-color: white;
   position: relative;
   top: 0; 
   bottom: 0;
   left: 0;
   right: 0;
   animation: open 1.5s forwards;
   -webkit-animation: open 1.5s forwards;
   overflow-y: hidden;
   
}

.info-abouts {
   animation: close 1.5s forwards;
   -webkit-animation: close 1.5s forwards;
}

.info-about:hover {
   background-color: white;
   color: #7D7D7D;
}

.hilang {
   display: block;
}

.hilangs {
   display: none;
}

.abouts {
   display: none;
}

.certi-none {
   display: none;
}

.certis {
   display: block;
}
.show-isi {
   display: block;
}



/* KEYFRAMES */
@keyframes open {
   0%, 50% {
      width: 80%;
      height: 100px;
      
   } 50% {
      width: 100%;
      height: 100px;
      background-color:#ceb82c;
      color: white;

      
   } 80%, 90% {
      width: 100%;
      height: 100vh;
      background-color: white;
   } 100% {
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      
      
      
   }
}

@keyframes showIsi {
   0% {
      opacity: 0;
   } 100% {
      opacity: 1;
   }
}


/* AKHIR ZOOM */

@media screen and (min-width: 768px) {
   .nama h1{
   font-size: 50px;
   margin-bottom: -20px;
   margin-top: 5px;
}

.nama h4 {
   font-size: 20px;
   opacity: .5;
}
.certi img {
   width: 250px;

}


}

@media screen and (min-width: 900px) {
.about-skill {

   width: 900px;
   /* background: yellow; */
}
.isi-about p {
   font-size: 20px;
}
}